@model Product
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12">

        <div class="card">
      <h1 class="card-header text-center">
        Add New Product
      </h1>
      <div class="card-body">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-action="Add" asp-controller="Home" >
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="ProductName" class="col-form-label text-end col-2"></label>
                        <div class="col-4">
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Price" class="col-form-label text-end col-2"></label>
                        <div class="col-4">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                            <button id="Savebtn" type="submit" class="col-4 btn btn-success">Save</button>
                    </div>
                </form>
                <div class="d-flex justify-content-start mb-1">
                    <a class="text-primary nav-link" asp-controller="Home" asp-action="Index">
                        Back To Home
                    </a>
                  </div>
              </div>
  
            </div>
    </div>
</div>
@section scripts{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

